#mainNav {
  background-color: fade-out($secondary, 0.1);
  @include heading-font;

  .navbar-brand {
    color: $primary;
  }

  .navbar-nav {
    .nav-item {
      padding-bottom: 15px;
      .nav-link {
        color: fade-out($white, 0.3);
        font-weight: 800;
      }

      &.active {
        max-width: 50%;
        .nav-link {
          color: $white;
          border-bottom: 2px solid $white;
        }
      }
    }
  }
  @media (min-width: 992px) {
    .navbar-nav {
      .nav-item {
        padding-bottom: 0;
        .nav-link {
          font-size: 0.9rem;
          &:hover {
            color: fade-out($white, 0.6);
          }
        }
        &.active {
          max-width: 100%;
          .nav-link:hover {
            color: $primary;
          }
        }
      }
    }
  }
}
